/* {
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

body {
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #38387c;
}*/

div front {
    text-align: center;
}
