<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontier</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

    <header class="navbar">
        <img class="navbar_img" src="mapa1.png" alt="">
        <h1 class="navbar_title">Frontier Map</h1>
    </header>

    <div class="front">
        <h1 class="front_title">Mapa Histórico do Mundo:</h1>
        <p class="front_text">conheça as alterações históricas aplicadas na geografia mundial.</p>

        <img class="front_img" src="./mapa.png" alt="mapa do mundo">
    </div>

</body>
</html>