<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontier</title>
    <link rel="stylesheet" href="/public/style.css">

</head>
<body>

    <div class="front">
        <h1>Mapa Histórico do Mundo:</h1>
        <p>conheça as alterações históricas aplicadas na geografia mundial.</p>

        <img src="./images.jpg" alt="mapa do mundo" width="500px">
    </div>

</body>
</html>